.team {
    padding: 100px 0;
    overflow-x: hidden;

    .title {
        @include text($headers, 56px, 700, 120%);
        text-align: center;
        margin-bottom: 10px;
    }

    .team-container {
        display: flex;
        gap: 8px;
        max-width: 1280px;
        margin: 0 auto;

        .column {
            display: flex;
            flex-direction: column;
            gap: 8px;
            flex: 1;

            &:nth-child(2),
            &:nth-child(3) {
                margin-top: 40px;
            }

            img,
            div {
                flex: 1;
                width: 300px;
                object-fit: contain;
            }

            div {
                height: 196px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 2;
                background-image: url("../scss/components/team/img/btn_bg.png");
                border-radius: 4px;

                a {
                    @include text(#fff, 16px, 500, 120%);
                    text-decoration: none;
                    background-color: $accent;
                    padding: 16px 50px;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        background-color: $hover;
                    }
                }
            }
        }
    }
}

@import "media/1200media.scss";
@import "media/960media.scss";
@import "media/768media.scss";
@import "media/460media.scss";
