@media screen and (max-width: 1060px) {
    .phone-list {
        padding: 0 0;

        .title {
            margin-bottom: 30px;
        }

        .numbers {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 20px;

            &__block {
                margin: 0;
            }
        }
    }
}
