@media screen and (max-width: 1200px) {
    .advantages {
        gap: 20px;

        &__elem {
            flex: 0;
            @include text($text, 16px, 400, 120%);

            &:nth-child(1) {
                flex-shrink: 2;
                flex-basis: 250px;
            }

            &:nth-child(2) {
                flex-shrink: 2;
                flex-basis: 400px;
            }

            &:nth-child(3) {
                flex-shrink: 1;
                flex-basis: 550px;
            }
        }
    }
}
