@media screen and (max-width: 768px) {
    .banner {
        height: 100vh;
        min-height: 750px;
        padding-top: 70px;

        .container {
            .info {
                .title {
                    @include text(#fff, 48px, 400, 110%);
                }

                .paragraph {
                    @include text(#fff, 16px, 400, 120%);
                }
            }
        }
    }
}
